html {
	margin: 0;
	padding: 0;
	}
	


body { 
	}
	
header{
	background: black;
	text-align:  center;
	font-size: 19px;
	color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

header a{
	color: white;
}

header a:hover{
	color: white;
	text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
	color: black;
}

	
footer { 
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	text-align: left; 
	height: 20%;
	width: 100%;
	 position:absolute;
	
	background-color: #00cc00;

	}
	

	.content{
		background-color: #99ff99;
		font-size: 20px;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
	.content_page{
		padding: 75px;
		background-color: #99ff99;
	text-align: center;
	font-size: 18px;
	
	
}
	
	
	